.app_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131111;
    width: 100%;
    height: 100%;
}

.app_container .app_ {
    display: flex;
    width: 60%;
    min-width: 1050px;
}

.app_container .app_ .left_app {
    width: 450px;
    margin-right: 50px;
}

.app_container .app_ .left_app .icon_div {
    width: 100%;
    display: flex;
    padding: 0 20px;
    padding-bottom: 20px;
    background-color: #131111;
    box-shadow: 0px 4px 99px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 15px 15px;
}

.app_container .app_ .left_app .icon_div .profile_icon_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app_container .app_ .left_app .icon_div .profile_icon_div .profile_icon {
    width: 120px;
    height: 120px;
    border-radius: 0 0 15px 15px;
}

.app_container .app_ .left_app .icon_div .profile_icon_div .profile_level {
    margin-top: -12px;
    padding: 2px 10px;
    background-color: #1778D3;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 15px;
    z-index: 2;
}

.app_container .app_ .left_app .icon_div .icon_div_internal {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app_container .app_ .left_app .icon_div .icon_div_internal .player_name {
    color: #BEB9B9;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.245em;
}

.app_container .app_ .left_app .icon_div .icon_div_internal .update_button {
    padding: 4px 20px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: #1778d3bb;
    color: white;
    cursor: pointer;
}

.app_container .app_ .left_app .card {
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #131111;
    box-shadow: 0px 4px 99px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 15px 15px;
}


.app_container .app_ .left_app .card .card_infos {
    position: relative;
    left: -20px;
    margin-top: 15px;
    border-left-width: 3px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        #ffffff10 0%, 
        rgba(140, 253, 138, 0)
        ) 0 100%;
    padding-left: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app_container .app_ .left_app .card .card_infos .card_text {
    font-size: 14px;
    margin: 3px;
    font-weight: 400;
    color: #BEB9B9;
}

.app_container .app_ .left_app .card .profile_elo {
    margin-top: 15px;
    margin-right: 5px;
}

.app_container .app_ .right_app {
    width: 100%;
}

.app_container .app_ .right_app .container_statistics {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #131111;
    padding: 20px 20px;
    box-shadow: 0px 4px 99px 6px rgba(0, 0, 0, 0.25);
}

.app_container .app_ .container_statistics .container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

.app_container .app_ .container_statistics .container_header .line {
    width: 71%;
    height: 2px;
    background-color: #151515;
}

.app_container .app_ .right_app .container_statistics .container_header .statistics_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.5em;
    color: #BEB9B9;
}

.app_container .app_ .right_app .container_statistics .statistics {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.app_container .app_ .right_app .container_statistics .statistics .text {
    color: #BEB9B9;
    align-items: left;
    font-size: 0.8rem;
    font-weight: 200;
}

.app_container .app_ .right_app .container_statistics .statistics #emphasis {
    color: #d9d9d9;
    font-weight: 500;
    font-size: 0.8rem;
}

.app_container .app_ .right_app .container_statistics .statistic {
    background: linear-gradient(90deg, rgba(220, 220, 220, 0.033) 0%, rgba(140, 253, 138, 0) 100%);
    border-radius: 30px;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

.app_container .app_ .right_app .match_history {
    margin-top: 30px;
    padding: 18px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app_container .app_ .right_app #victory {
    border-left-width: 5px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        #8cfd8a6f 0%, 
        #131111
        ) 0 50%;
    background: linear-gradient(180deg, rgba(140, 253, 138, 0.027) 0%, rgba(140, 253, 138, 0) 100%);
}

.app_container .app_ .right_app #defeat {
    border-left-width: 5px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        rgba(255, 104, 104, 0.049) 0%, 
        rgba(6, 6, 6, 0) 100%
        ) 0 100%;
    background: linear-gradient(180deg, rgba(255, 104, 104, 0.027) 0, rgba(18, 16, 16, 0) 100%);
}

.app_container .app_ .right_app .match_history .container_infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
}

.app_container .app_ .right_app .match_history .container_infos .container_profile_image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app_container .app_ .right_app .match_history .container_infos .container_profile_image .champ_image {
    width: 55px;
    border-radius: 50px;
}

.app_container .app_ .right_app .match_history .container_infos .container_profile_image .champ_level {
    color: white;
    font-size: 12px;
    margin-top: 35px;
    margin-left: -18px;
    background-color: #1778D3;
    padding: 3px;
    border-radius: 20px;
}

.app_container .app_ .right_app .match_history .container_infos .container_infos_internal {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.app_container .app_ .right_app .match_history .container_infos .container_infos_internal #win{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.3em;
    color: rgba(116, 255, 104, 0.81);
    margin-bottom: 5px;
}

.app_container .app_ .right_app .match_history .container_infos .container_infos_internal #defeated {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.3em;
    color: rgba(255, 104, 104, 0.81);
    margin-bottom: 5px;
}

.app_container .app_ .right_app .match_history .container_infos .container_infos_internal .spell_container{
    display: flex;
    flex-direction: row;
}

.app_container .app_ .right_app .match_history .container_infos .container_infos_internal .spell_container .speel {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    border-radius: 20px;
}

.app_container .app_ .right_app .match_history .container_kda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.app_container .app_ .right_app .match_history .container_kda .container_kda_internal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-right: 2px solid #beb9b90f;
    padding-right: 10px;
}

.app_container .app_ .right_app .match_history .container_kda .container_kda_internal:nth-child(1) {
    margin-right: 10px;
}

.app_container .app_ .right_app .match_history .container_kda .container_kda_internal:nth-child(2) {
    border: none;
}

.app_container .app_ .right_app .match_history .container_kda .container_kda_internal .title {
    font-size: 13px;
    font-weight: 400;
    color: #d9d9d9d4;
}

.app_container .app_ .right_app .match_history .container_kda .container_kda_internal .kda_text {
    font-size: 13px;
    font-weight: 400;
    color: #beb9b987;
}

.app_container .app_ .right_app .match_history .container_items {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 20px;
}

.app_container .app_ .right_app .match_history .container_items .item_icon {
    width: 30px;
    margin: 0 5px;
}

.app_container .app_ .right_app .match_history .container_items .placeholder {
    display: inline-block;
    border: 3px solid transparent;
    margin: 0 2px;
    width: 40px;
    height: 40px;
}

.app_container .app_ .right_app .match_history .container_champions {
    display: flex;
    flex-direction: column;
}

.app_container .app_ .right_app .match_history .container_champions  .champion_image {
    width: 30px;
    margin: 0 5px;
}

@media (max-width: 1049px) { 
    .app_container .app_ {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .app_container .app_ .left_app {
        width: 100vw;
    }
    .app_container .app_ .right_app {
        width: 100vw;
    }

    .app_container .app_ .left_app .card{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .app_container .app_ .left_app .icon_div .profile_icon_div {
        width: 50%;
    }
}